.home-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.search-input-tag-cnt{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.input-cnt{
    min-width: 350px;
    max-width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    height: 30px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: white;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius:15px;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    background-color: #555;
    user-select: none;
}
.currentPage{
    background-color: #792020;
}
.pagination:hover{
    background-color: #a65151;
}
.CategoryFilter-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}
.CategoryFilter{
    width: 100px
}
