.tags-cnt{
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.tags-header-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tags-header-cnt input{
    margin: 2px;
}
.add-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.plus-icon{
    font-size: 1.5rem;
}
.tag-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.tag-cnt{
    margin: 0;
    border: 1px solid #33333352;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.list-form{
    margin: 0;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0 15px;
}

